<%- layout("./layouts/boilerplate.ejs") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h1 class="text-center mb-4">Login to WanderStay</h1>
<<<<<<< HEAD
      <form
        action="/login"
        method="post"
        class="needs-validation"
        novalidate
        onsubmit="ButtonLoader()"
      >
=======
      <form action="/login" method="post" class="needs-validation" novalidate onsubmit="ButtonLoader()">
>>>>>>> b8582be07c894424e171dc3949882f0255b07e9e
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Username is required</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Password is required</div>
        </div>
        <div class="text-center">
          <button id="button" type="submit" class="btn btn-success w-100">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
